body {
  display:flex;
  font-family: Inter;
  background-color: azure;
  margin: auto;
}

#leftside{
  width: 30vw;
  height: 100vh;
  background-image: linear-gradient(to right, lightgray , azure);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  z-index: 2;
}

#rightside{
  /*
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  */
  width: 70vw;
  padding-left: 30vw;
  text-align: center;
}

#L001{
  padding-top: 45vh;
}

.line{
  height:30%;
}

.line img{
padding: 1vw;
width: 10vw;
height: 10vw;
}
/*
#righttop{

    background: linear-gradient(180deg, rgba(2, 255, 255, 1) 0%, rgba(2, 255, 255, 0) 85%);
  
  min-height: 40vh;
  min-width: 70vw;
  position:fixed;
  top: 0;
  right: 0;
  z-index: 1;
  
}

#rightbottom{

  background: linear-gradient(0deg, rgba(2, 255, 255, 1) 0%, rgba(2, 255, 255, 0) 85%);

min-height: 30vh;
min-width: 70vw;
position:fixed;
bottom: 0;
right: 0;
z-index: 1;

}
*/
.c0{
  background-color: lightgray;
  border-radius: 6px;
  width: 150px;
  height: 100px;
  position:relative;
  top:70px;
  

}

.xcards{width:80%}
.hot{color:red;}
.yel{color:yellow;}
.ri{text-align: right;}

.card{
  border: 2px solid lightgray;
  border-radius: 6px;
  width: 150px;
  height:150px;
  padding:20px;
}

.cards {
  display: grid;
  row-gap: 20px;
  grid-template-columns: auto auto auto;
}

h3{padding: 8px;}



.c4 h3 {color: red}
.c4 {border: 2px solid blue;}
.c6 { transform: rotate(-30deg);
background-color: white;
position:relative;
left:-50%;
top:50%}

h1 {
margin-left:10vw;  
}
